@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rotating Chores</h1>
    <p class="lead">A fair way to keep track of chores! When completed, chores are assigned to the next member in the group only if they are within the member's difficulty range.</p>
    <p><a href="@Url.Action("Register","Account")" class="btn btn-primary btn-lg">Register Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Message</h2>
    </div>
    <div class="col-md-4">
        <h2>Add Some Chores!</h2>
        <p>Add a new chore to start keeping track.</p>
        <p><a class="btn btn-default" href="@Url.Action("Add", "Chores")">Add Chore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Chore Doers!</h2>
        <p>Add members to your group. Chores will rotate based on their Max Difficulty level.</p>
        <p><a class="btn btn-default" href="@Url.Action("Add", "Doer")">Add Member &raquo;</a></p>
    </div>
</div>