@model RotatingChores.Models.ChoreModel

@{
    ViewBag.Title = "Add";
    ViewBag.Background = "bg-success";
}

<h2>Add</h2>

<div class="panel panel-success">
    @Html.Partial("_ChoreForm")
</div>
