@model RotatingChores.Models.ChoreModel

@{
    ViewBag.Title = "Completed";
    ViewBag.Background = "bg-success";
}

<h2>Mark Complete</h2>

<h3>Has this chore been completed?</h3>
<div>
    <div class="panel panel-success">
        @Html.Partial("_ChoreDetail")
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Yes!" class="btn btn-success" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>