@model RotatingChores.Models.ChoreDoerModel

@{
    ViewBag.Title = "Delete";
    ViewBag.Background = "bg-danger";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this chore doer?</h3>
<div class="panel panel-danger">
    @Html.Partial("_DoerDetail")

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
