@model RotatingChores.Models.ChoreDoerModel

@{
    ViewBag.Title = "Add Member";
    ViewBag.Background = "bg-info";
}

<h2>Edit</h2>

<div class="panel panel-info">
    @Html.Partial("_DoerForm")
</div>